body {
    background: #faffe6;
    
}
 
 li{
 
  padding: 5px;
   
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

 }
 
 .main_div{
background-color: rgb(196, 241, 255);
display: flex;
flex-direction:row;
justify-items: start;
}
 li button {
  margin-left: 10px;      /* space between text and button */
  padding: 3px 6px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
li button:hover {
  background-color: #e04444;
}